<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.baidumap_testdemo_a">
    <!--给予相应权限-->
    <!--传感器-->
    <uses-permission android:name="com.android.permission.BODY_SENSORS" />
    <!--读取系统信息，包含系统版本等信息，用作统计-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--允许sd卡读权限，需读取地图数据，禁用后无法显示地图-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--使用步行AR导航，配置Camera权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--增加快捷方式-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--唤醒锁-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--允许访问 WIFI 状态的权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--SD卡写入-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--该权限用于网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--这个权限用于访问GPS-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--获取运营商信息，用于支持提供运营商信息的相关接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于读取当前手机的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--访问网络-->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!--//////////////////////////////////////////////////////////////-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--创建监听改变服务-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!--添加KEY-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uT4IVjIdaimRlQRdOsyllqGEcyCAlQSY" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>